.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.border{
    border: 2px solid violet;
    /* border: 2px dotted violet; */
    border-radius: 4px;
}

.bg-default{
    background-color: cyan;
}

.bold{
    font-weight: bold;
}

p.underline{
    text-decoration: underline;
}

.text-red{
    color: red;
}