*{
    padding: 5px;
}

.container{
    border: 1px solid blue;
    border-radius: 4px;
    height: 300px;
    width: 300px;
}

.box{
    position: static;
    background-color: pink;
    height: 145px;
    width: 145px;
    text-align: center;
    line-height: 150px;
}

.org{
    position: absolute;
    border: 2px dashed red;
    height: 145px;
    width: 145px;
}

.box1{
    position: relative;
    top: 15px;
    left: 15px;

    background-color: pink;
    opacity: 0.8;
    height: 145px;
    width: 145px;
    text-align: center;
    line-height: 150px;
}

.box2{
    position: static;
    background-color: pink;
    height: 145px;
    width: 145px;
    text-align: center;
    line-height: 150px;
}

.box3{
    position: static;
    background-color: pink;
    height: 145px;
    width: 145px;
    text-align: center;
    line-height: 150px;
}