div{
    float: left;
    width: 120px;
    height: 120px;
    margin: 10px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    background-color: aqua;
}
.clear-both{
    clear: both;
}
.bd-3px_Solid_Pink{
    border: 8px solid rgb(211, 64, 89);
}

.bd-3px_Dashed_Pink{
    border: 8px dashed rgb(211, 64, 89);
}

.bd-3px_Dotted_Pink{
    border: 8px dotted rgb(211, 64, 89);
}

.bd-3px_Double_Pink{
    border: 8px double rgb(211, 64, 89);
}

.bd-3px_Inset_Pink{
    border: 8px inset rgb(211, 64, 89);
}

.bd-3px_Outset_Pink{
    border: 8px outset rgb(211, 64, 89);
}

.bd-3px_Groove_Pink{
    border: 8px groove rgb(211, 64, 89);
}

.bd-3px_Ridge_Pink{
    border: 8px ridge rgb(211, 64, 89);
}

.btm-Solid_Pink{
    border-bottom: 8px solid rgb(211, 64, 89);
}

.lft-Dotted_Pink{
    border-left: 8px dotted rgb(211, 64, 89);
}

.tp-Dashed_Pink{
    border-top: 8px dashed rgb(211, 64, 89);
}

.rgt-Double_Pink{
    border-right: 8px double rgb(211, 64, 89);
}

.border-long-syntax{
    border-width: 8px;
    border-style: solid;
    border-color: rgb(211, 64, 89);
}
.left-dotted-pink{
    border-left-width: 8px;
    border-left-style: dotted;
    border-left-color: rgb(211, 64, 89);
}

.top-double-pink{
    border-top-width: 8px;
    border-top-style: double;
    border-top-color: rgb(211, 64, 89);
}

/* .mix-baby{
    border-left: 8px double greenyellow;
    border-bottom: 8px solid blueviolet;
    border-top: 8px dotted black;
    border-right: 8px dashed pink;
} */

.mix-baby{
    border-width: 10px 20px 5px 10px;
    border-style: dotted dashed solid double;
    border-color: black pink blueviolet greenyellow;
}
