.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10%;
    justify-content: space-between;
    position: relative;
}

.Box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: white;
    border: 0.5px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow_1{
    box-shadow: 5px 5px 5px 0px #333;
}
.shadow_2{
    box-shadow: 15px 5px 5px 0px #333;
}
.shadow_3{
    box-shadow: 5px 15px 5px 0px #333;
}
.shadow_4{
    box-shadow: 0px 0px 15px 0px #333;
}
.shadow_5{
    box-shadow: 0px 0px 0px 5px #333;
}
.shadow_6{
    box-shadow: 0px 0px 5px 5px #333;
}
.shadow_7{
    box-shadow: 5px 0px 5px 5px #333;
}
.shadow_8{
    box-shadow: 5px 5px 5px 5px #333;
}

.multi_1{
    box-shadow: 5px 5px 0px 0px red,
    10px 10px 0px 0px greenyellow,
    15px 15px 0px 0px blue;
}
.multi_2{
    box-shadow: -5px -5px 0px 0px red,
    -10px -10px 0px 0px greenyellow,
    -15px -15px 0px 0px blue;
}
.multi_3{
    box-shadow: -5px -5px 5px 0px red,5px 5px 5px 0px greenyellow;
}

.multi_4{
    border-radius: 50%;
    box-shadow: -5px -5px 5px 0px red,5px 5px 5px 0px greenyellow;
}