.grid-12{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* background-color: #00ffff; */
    gap: 10px;
    
}

.col-3{
    grid-column: auto / span 3;
    /* border-radius: 50px; */
    /* background-color: pink; */
}

.col-4{
    grid-column: auto / span 4;
}

.col-5{
    grid-column: auto / span 5;
}

.col-6{
    grid-column: auto / span 6;
}

.col-7{
    grid-column: auto / span 7;
}

.col-12{
    grid-column: auto / span 12;
}


@media screen and (min-width:768px) and (max-width:1024px){
    .col-3,.col-4,.col-5,.col-7{
        grid-column: auto/span 6;
    }
    .col-6{
        grid-column: auto/span 12;
    }
}

@media screen and (max-width:768px) {
    .col-3,.col-4,.col-5,.col-6,.col-7{
        grid-column: auto / span 12;
    }
    
}