.nav-bar{
    padding: 20px;
}

.nav-title{

}

.font-title{

}

.font-body{

}

.font-bold{

}

.item-around-helper{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link-group{

}

.color-black{

}

.link{
    
}