.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: auto;

    gap: 10px;
}

.col-12{
    background-color: aqua;
    opacity: 0.5;
    border-radius: 10px;
}

.box{
    background-color: pink;
    opacity: 0.5;
    border-radius: 20px;
    height: 30px;

    font-size: x-large;

    /* line-height: 30px; */
    padding: 20px;
}

.col-3{
    grid-column: auto/ span 3;
    height: 300px;
}
.col-4{
    grid-column: auto/ span 4;
}

.col-6{
    grid-column: auto / span 6;
}

.col-12{
    grid-column: auto/ span 12;
}
.col-7{
    grid-column: auto/ span 7;
}
.col-5{
    grid-column: auto/ span 5;
}

.midd{
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
span{
    cursor: pointer;
}

.menu{
    width: 6px;
    height: 6px;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 50%;

    cursor: pointer;
}

.center-helper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.para{
    padding: 20px;
    font-size: larger;
    height: 60px;
    line-height: normal;
}

.h-60{
    height: 120px;
}

.h-40{
    height: 40px;
}

.h-20{
    height: 20px;
}