.container{
    background-color: #e2feff;
    /* opacity: 0.2; */
    padding: 1rem;
    display: flex;
}

.box{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin: 5px;
    color: white;
}

.container_1{
    border: 2px solid rgb(240, 67, 29);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mx-width-400px{
    max-width: 400px;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(2n+1){
    background-color: blueviolet;
}
.box:nth-child(2n+2){
    background-color: greenyellow;
}
.box:nth-child(2n+3){
    background-color: yellow;
}
.box:nth-child(2n+4){
    background-color: red;
}
.box:nth-child(2n+5){
    background-color: blue;
}
.box:nth-child(2n+6){
    background-color: rgb(87, 191, 220);
}